body {
  background: rgb(255, 111, 0);
  font-family: sans-serif;
}
h1 {
  color: white;
}
#data {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  gap: 40px;
}
.movie {
  background: white;
  border-radius: 50px;
  border: solid black;
  height: 400px;
  width: 340px;
  cursor: pointer;
}
h3 {
  margin: 25px;
  font-size: 30px;
}
img {
  margin-left: 70px;
  height: 270px;
  width: 200px;
}

.hidden {
  display: none !important;
}
.popup {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 5px solid black;
  border-radius: 50px;
  transition: opacity 0.3s, visibility 0.3s;
  height: auto;
  width: auto;
}

.popup h1 {
  color: black;
  display: block;
}
.x-div {
  float: right;
  margin-right: 20px;
  margin-top: 10px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}
.img-pop {
  height: 300px;
  width: 230px;

  float: right;
  margin-top: 50px;
  margin-right: 10px;
}
