body {
  background: rgb(255, 111, 0);
  font-family: sans-serif;
}
.buttons {
  margin-left: 300px;
  margin-top: -50px;
}
.buttons button {
  background-color: white;
  border-radius: 5px;
  font-size: 20px;
}
.search {
  float: right;
  margin-top: -40px;
}
.search input {
  font-size: 18px;
}
.search button {
  font-size: 18px;
}
h1 {
  color: white;
  width: 600px;
}
#data {
  margin-top: 30px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  column-gap: 10px;
  justify-content: space-around;
  row-gap: 15px;
  gap: 40px;
}
.movie {
  background: white;
  border-radius: 50px;
  border: solid black;
  height: 400px;
  width: 340px;
  cursor: pointer;
}
h3 {
  margin: 25px;
  font-size: 30px;
}
img {
  margin-left: 70px;
  height: 270px;
  width: 200px;
}

.hidden {
  display: none !important;
}
.popup {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 5px solid black;
  border-radius: 50px;
  transition: opacity 0.3s, visibility 0.3s;
  height: auto;
  width: auto;
}
.info-popup {
  margin-left: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.popup h1 {
  color: black;
  display: block;
}
.popup h2 {
  margin-top: 0px;
  margin-bottom: 10px;
}
.x-div {
  float: right;
  margin-right: 20px;
  margin-top: 10px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}
.img-pop {
  height: 300px;
  width: 230px;

  float: right;
  margin-top: 50px;
  margin-right: 10px;
}
